.navcontainer {width: 100%;}






h1, h2, h3, h4, h5, h6 {color: #034b25;}

.owl-pagination .owl-page span {  background: #034b25;}



.tabs-circle-top  .tab a{color: #034b25;}


.menu-header{background-color: #034b25;}


.footer-bottom {background-color: #003300;}



#scrollUp{background-color: #034b25;}
}


.owl-prev, .owl-next  {background-color: red;
}
 

