.navcontainer {width: 100%;}



h1, h2, h3, h4, h5, h6 {color: #034b25;}

.owl-pagination .owl-page span {  background: #034b25;}



.tabs-circle-top  .tab a{color: #034b25;}


.menu-header{background-color: #034b25;}


.footer-bottom {background-color: #003300;}



#scrollUp{background-color: #034b25;}
}


.owl-prev, .owl-next  {background-color: red;
}



.navbar .dropdown-menu {  width: 20px;  margin: none;  padding: none;}




/*circle tabs section*/

#circle-tabs ul{
	list-style-type: square
}


main #hero{
	height: 650px;
}

main #hero #owl-main{
	height: 650px;
}

main #hero #owl-main .item{
	height: 650px;
}

#home header .navbar .nobg a:hover, 
#home header .navbar .nobg a:focus{
	background-color: white;
	border: none;
}

#hero #owl-main h1 span.menu-header{
	padding: 0 20px;
	border-radius: 20px;
}

#hero #owl-main p span.menu-header{
	padding: 0 20px;
	border-radius: 10px;
}